<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>Kontakt</title>
</head>
<body>

<div>
    <h1>Kontakt-Suche</h1>
    <a class="btn btn-info" href="/kontakte">zur Übersicht</a>
    <a class="btn btn-success" href="/new-contact">Kontakt hinzufügen</a>
    <div>
        <form method="post" th:object="${searchForm}">
            <fieldset>
                <label>
                    Vorname
                </label>
                <input class="form-control" type="text" th:field="*{forname}"/>
                <div class="alert alert-danger" th:errors="*{forname}">[error]</div>
            </fieldset>
            <fieldset>
                <label>
                    Nachname
                </label>
                <input class="form-control" type="text" th:field="*{lastname}"/>
                <div class="alert alert-danger" th:errors="*{lastname}">[error]</div>
            </fieldset>
            <input type="submit" value="Suchen"/>
        </form>
    </div>

</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>


</body>
</html>
