<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>Kontakte</title>
</head>
<body>

<div >
    <h1>Kontakt-Liste</h1>
    <form th:action="@{/new-contact}">
        <input type="submit" value="Hinzufügen"/>
    </form>
    <div>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Telefonnummer</th>
                <th>Email</th>
                <th>Geburtstag</th>
                <th>Straße</th>
                <th>Haus-Nr.</th>
                <th>PLZ</th>
                <th>Ort</th>
                <th>Details</th>
            </tr>
            <tr th:each="c : ${contacts}">
                <td th:text="${c.getId()}"></td>
                <td th:text="${c.getForname()}"></td>
                <td th:text="${c.getLastname()}"></td>
                <td th:text="${c.getPhone()}"></td>
                <td th:text="${c.getEmail()}"></td>       
                <td th:text="${c.getBirthday()}"></td>       
                <td th:text="${c.getStreet()}"></td>       
                <td th:text="${c.getHousenumber()}"></td>       
                <td th:text="${c.getZipcode()}"></td>       
                <td th:text="${c.getLocation()}"></td>
                <td>
                    <form method="POST" th:action="@{/contact-detail(id=${c.getId()})}">
                        <button type="submit" name="submit" value="value" class="link-button">view</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
