<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>Kontakte</title>
</head>
<body>

<div >
    <h1>Kontakt hinzufügen</h1>
    <a class="btn btn-info" href="/kontakte">zur Übersicht</a>
    <form method="post" th:object="${contact}">
        <fieldset>
            <label>
                Vorname
            </label>
            <input class="form-control" type="text" th:field="*{forname}"/>
            <div class="alert alert-danger" th:errors="*{forname}">[error]</div>
        </fieldset>
        <fieldset>
            <label>
                Nachname
            </label>
            <input class="form-control" type="text" th:field="*{lastname}"/>
            <div class="alert alert-danger" th:errors="*{lastname}">[error]</div>
        </fieldset>
        <fieldset>
            <label>
                Telefon
            </label>
            <input class="form-control" type="text" th:field="*{phone}"/>
            <div class="alert alert-danger" th:errors="*{phone}">[error]</div>
        </fieldset>
        <fieldset>
            <label>
                Email
            </label>
            <input class="form-control" type="text" th:field="*{email}"/>
            <div class="alert alert-danger" th:errors="*{email}">[error]</div>
        </fieldset>
        <fieldset>
            <label>
                Geburtstag
            </label>
            <input class="form-control" type="date" th:field="*{birthday}"/>
            <div class="alert alert-danger" th:errors="*{birthday}">[error]</div>
        </fieldset>
        <fieldset>
            <label>
                Strasse
            </label>
            <input class="form-control" type="text" th:field="*{street}"/>
            <div class="alert alert-danger" th:errors="*{street}">[error]</div>
        </fieldset>
        <fieldset>
            <label>
                Hausnummer
            </label>
            <input class="form-control" type="number" th:field="*{housenumber}"/>
            <div class="alert alert-danger" th:errors="*{housenumber}">[error]</div>
        </fieldset>
        <fieldset>
            <label>
                Postleitzahl
            </label>
            <input class="form-control" type="number" th:field="*{zipcode}"/>
            <div class="alert alert-danger" th:errors="*{zipcode}">[error]</div>
        </fieldset>
        <fieldset>
            <label>
                Ort
            </label>
            <input class="form-control" type="text" th:field="*{location}"/>
            <div class="alert alert-danger" th:errors="*{location}">[error]</div>
        </fieldset>

        <input type="submit" value="speichern">
    </form>
    <div>

    </div>

</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
