<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>Kontakt</title>
</head>
<body>

<div>
    <h1>Kontakt-Suche</h1>
    <div>
        <form method="post" th:object="${searchForm}">
            <input class="form-control" type="text" th:field="*{forname}"/>
            <input class="form-control" type="text" th:field="*{lastname}"/>
            <input type="submit" value="Suchen" />
        </form>
    </div>

</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>


</body>
</html>
