<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>Kontakte</title>
</head>
<body>

<div>
    <h1>Kontakt hinzufügen</h1>
    <a class="btn btn-info" href="/kontakte">zur Übersicht</a>
    <form method="post" th:object="${contact}">
        <table class="table table-striped" width="100%">
            <tr>
                <td width="10%">
                    <label>
                        Vorname
                    </label>
                </td>
                <td width="50%">
                    <input class="form-control" type="text" th:field="*{forname}"/>
                </td>
                <td width="40%">
                    <div class="alert alert-danger" th:errors="*{forname}">[error]</div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Nachname
                    </label>
                </td>
                <td>
                    <input class="form-control" type="text" th:field="*{lastname}"/>
                </td>
                <td>
                    <div class="alert alert-danger" th:errors="*{lastname}">[error]</div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Telefon
                    </label>
                </td>
                <td>
                    <input class="form-control" type="text" th:field="*{phone}"/>
                </td>
                <td>
                    <div class="alert alert-danger" th:errors="*{phone}">[error]</div>
                </td>
            </tr>
            <tr>
                <td>

                    <label>
                        Email
                    </label>
                </td>
                <td>

                    <input class="form-control" type="text" th:field="*{email}"/>
                </td>
                <td>

                    <div class="alert alert-danger" th:errors="*{email}">[error]</div>
                </td>

            </tr>
            <tr>

                <td>

                    <label>
                        Geburtstag
                    </label>
                </td>
                <td>

                    <input class="form-control" type="date" th:field="*{birthday}"/>
                </td>
                <td>

                    <div class="alert alert-danger" th:errors="*{birthday}">[error]</div>
                </td>
            </tr>
            <tr>


                <td>

                    <label>
                        Strasse
                    </label>
                </td>
                <td>

                    <input class="form-control" type="text" th:field="*{street}"/>
                </td>
                <td>

                    <div class="alert alert-danger" th:errors="*{street}">[error]</div>
                </td>
            </tr>
            <tr>


                <td>

                    <label>
                        Hausnummer
                    </label>
                </td>
                <td>

                    <input class="form-control" type="number" th:field="*{housenumber}"/>
                </td>
                <td>

                    <div class="alert alert-danger" th:errors="*{housenumber}">[error]</div>
                </td>
            </tr>
            <tr>


                <td>

                    <label>
                        Postleitzahl
                    </label>
                </td>
                <td>

                    <input class="form-control" type="number" th:field="*{zipcode}"/>
                </td>
                <td>

                    <div class="alert alert-danger" th:errors="*{zipcode}">[error]</div>
                </td>
            </tr>
            <tr>


                <td>

                    <label>
                        Ort
                    </label>
                </td>
                <td>

                    <input class="form-control" type="text" th:field="*{location}"/>
                </td>
                <td>

                    <div class="alert alert-danger" th:errors="*{location}">[error]</div>
                </td>
            </tr>
        </table>
        <input class="btn btn-success" type="submit" value="speichern">
    </form>
    <div>

    </div>

</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
